<div id="wrapper">
      <h1>Hear it here first!</h1>
      <h5 class="headline">(Click the "Get New Articles!" button</h5>
      <h5 class="headline"> to see the latest news!)</h5>

      <br>

      <div id="news"></div>

      <div id="comments"></div>
      
        {{!-- <form action="/news/:id" method="post">
             <h1>Hi User!</h1>
                <!-- <h2>Enter your comment!</h2> -->
          <input type="text" name="title" placeholder="Title">
          <textarea type="text" name="body">Write Comment Here</textarea>
    
          <input type="submit">
          <a href="/saved">See your comments!</a> --}}


          <!-- <a href="/user">See your profile!</a>
          <a href="/populateduser">See your profile, populated with notes!</a> -->
        </form>
    </div>